[2019-03-04 13:15] disparate opened #2 "Unable to download aar when using with another private jitpack library."
Hello, I've encountered following issue when using phraseapp OTA library for my project.
Sometimes gradle is unable to download aar for the dependency (it returns 401 Unauthorized) if I also use another private jitpack library in the project.
When I use phraseapp lib alone it works perfect and always download the dependency during gradle sync.
I created an issue on jitpack's repo with detailed des

[2019-03-04 14:41] theSoenke commented on #2
Hi, thanks for reporting this. It seems that Jitpack attemps to use the credentials for the private repo also for the public android-sdk repository which causes the failure. I've also left a comment in the issue

[2019-03-04 15:52] disparate commented on #2
Thanks for the help @theSoenke

[2019-04-04 09:55] #2 closed

[2019-06-25 07:59] sp00ne opened #4 "Why is there a project without source code?"
I want to see what your Android SDK does. Is this open source? If not then why put it here?

[2019-06-25 08:06] theSoenke commented on #4
Hi @sp00ne, the SDK is currently not Open Source. We created this repository to track issues with the SDK publicly and to publish release notes

[2019-07-19 12:00] mozarty opened #5 "SDK crash if the resource is not found"
this line `this.setTextForView(view, resources.getString(attrs.getAttributeResourceValue(index, 0)))` in the TextViewTransformer
crashes with NoResourceFoundException when the resource isn't found because of the 0 int value

[2019-07-19 12:02] mozarty opened #6 "Add `convert_placeholder` and `enclose_in_cdata` support for the SDK"
our project uses iOS placeholders by default and we use `convert_placeholder` in our android yml file

which causes the SDK to crash when it retrieves the strings

same for `enclose_in_cdata`

[2019-07-19 13:27] theSoenke commented on #5
Hi @mozarty, thanks for reporting this. We are already working on a fix for it and it will most likely be released on Monday

[2019-07-19 18:43] mozarty commented on #5
great !

[2019-07-22 12:05] theSoenke commented on #6
Hi @mozarty, this is an issue we also have on our roadmap. I will keep you updated as soon as it is solved

[2019-07-22 14:05] theSoenke commented on #5
Hi, just a quick update. The change is currently in QA and will be released shortly but probably not today anymore

[2019-07-23 10:22] theSoenke commented on #5
Version 1.1.3 of the SDK has now been released. This should fix this issue. Please let me know if you should notice anything else unexpected

[2019-07-23 10:22] #5 closed

[2019-07-24 13:25] mozarty commented on #5
Thanks alot

[2019-08-19 08:11] bjoernQ opened #7 "Strings containing HTML markup don't work when using OTA"
When using strings styled with HTML markup like `Welcome to <b>Android</b>!` work fine until using OTA. Then the displayed text shows the HTML tags instead of being styled the usual way

[2019-08-19 09:04] theSoenke commented on #7
Hi @bjoernQ, thanks for reporting this. We were also able to reproduce it and are looking into it to fix this. I will keep you updated here as soon as I have some news

[2019-08-20 07:44] #7 closed

[2019-08-23 09:11] #4 closed

[2019-08-23 09:13] theSoenke commented on #7
Version 1.1.4 was just released. This should resolve this. Thanks again for reporting this!

[2019-08-23 11:18] bjoernQ commented on #7
Sounds great - we'll give it a try. Thanks for the fast fix

[2019-08-27 11:32] bjoernQ opened #8 "Escaped new lines (\n) don't work after OTA update"
Thanks for fixing #7 - I unfortunately encountered a similar issue now:

Escaped special characters like `\n` are not properly handled after an OTA update and show as `\n` instead of causing a line break

[2019-08-27 12:04] theSoenke commented on #8
Hi, we are currently investigating this and will keep you updated

[2019-09-02 09:38] theSoenke commented on #8
I was able to reproduce it and the fix is currently being completed. I will let you know as soon as a new release is available

[2019-09-02 14:51] ponsuyambu commented on #6
@theSoenke Even we have the same issue, any update when it ll be solved?

[2019-09-03 08:08] theSoenke commented on #6
Hi @ponsuyambu, thanks for letting us know. I can't promise an exact date yet but this has a high priority for us and I hope that I will be able to provide an update in the next few days

[2019-09-09 13:17] theSoenke commented on #8
We now released version 1.1.5 of the SDK. This should resolve the newline issue. Let me know if there is anything else should come up

[2019-09-09 13:17] #8 closed

[2019-09-11 11:25] bjoernQ commented on #8
tried 1.1.5 and unfortunately it doesn't seem to fix my issue

after the OTA update a string containing `Hello\nWorld` becomes `Hello\\World` - so the backslash gets escaped while it shouldn't

[2019-09-11 11:36] bjoernQ opened #9 "App using Phrase OTA doesn't pick up changed locale without cold start"
How to reproduce:
- have an app with Phrase OTA
- launch the app
- leave app via home button
- go to system settings and change the system locale
- go back to the app with Phrase OTA via recent applications
- the app didn't pick up the changed locale

When force closing the app / swiping the app from the recent apps and relaunching the app the changed system locale is picked up

[2019-09-13 08:21] theSoenke commented on #9
Hi @bjoernQ, right now the locale is being setup once when `PhraseApp.setup()` is called. Changing the locale while is the app is still open has no effect right now. One workaround right now would be to call `PhraseApp.setup()` again after the locale has been changed.

It seems useful to do this automatically and I will have a look whether we can include it in one of the next releases

[2019-09-13 11:56] theSoenke commented on #6
@mozarty We have added this to our roadmap and will likely start tackling this next week

[2019-09-13 12:06] theSoenke commented on #8
Thanks for testing it. This was a slight misunderstanding and we solved another related issue. With version 1.1.5 non-escaped newlines will now be displayed correctly. Translations that explicitly contain `\n` will be escaped by default which is different behavior from normal strings files. This is the original root cause for this error. We will have a closer look at this and I will let you know w

[2019-09-13 13:40] mozarty commented on #6
Thanks for the update , Hope we can use the OTA SDK soon

[2019-10-11 22:37] mozarty commented on #6
@theSoenke can the SDK be open-source ?
i will be more than happy to contribute to make sure this is fixed

[2019-10-16 13:24] manuelgon47 commented on #6
@theSoenke
We are also looking forward to this feature, any update or estimated delivery date?

[2019-10-17 13:00] theSoenke commented on #6
Hi @mozarty, at this point we have no specific plan to make the SDK open source. But we might consider it in the future. In this case it would only help so much because most changes are server-side.

We are working on this feature right now and I hope that we will be able to provide a solution in the next couple of days

[2019-10-28 13:57] mozarty commented on #6
Any updated or a soon release date?

[2019-10-30 14:56] hichamboushaba opened #10 "PhraseApp SDK doesn't support inflated menus and preferences"
We are facing an issue with the SDK in our app, all of the views using inflated menus (for example: NavigationMenuView) and the preferences defined in XML (https://developer.android.com/reference/androidx/preference/PreferenceFragmentCompat.html#addPreferencesFromResource(int)) are not supported: the locale passed to setup is not respected, and translations are not updated via OTA.

[2019-10-30 16:14] theSoenke commented on #10
Hi @hichamboushaba, thanks for reporting it. I will have a closer look at this and provide an update as soon as possible

[2019-11-05 09:09] marlonbosse opened #11 "Build artifact missing on Jitpack.io"
It seems something went wrong in the build-pipeline, all logs on jitpack.io stating an error:
https://jitpack.io/#phrase/phraseapp-android

And no artifacts are accessible.

[2019-11-05 09:15] theSoenke commented on #11
Hi @marlonbosse, the actual package is `phrase/android-sdk`. Could you try using `com.github.phrase:android-sdk:1.2.0`? Let me know in case you are still experiencing any issues

[2019-11-05 09:20] marlonbosse commented on #11
Thanks for the quick reply @theSoenke unfortunately this dependency isn't resolvable for me. Do I need special access rights? It used to work for `1.1.3` just fine.

[2019-11-05 10:27] theSoenke commented on #11
I just have been running into the same issue. All build artifacts should be public and there has been no change from our side. I will check with Jitpack what might have happened here

[2019-11-05 10:36] theSoenke commented on #11
This issue might be related: https://github.com/jitpack/jitpack.io/issues/4039

[2019-11-05 12:30] marlonbosse commented on #11
It seems that this might take a while – are you considering to host it somewhere else?

[2019-11-11 14:09] theSoenke commented on #11
We are currently in the process of migrating to a different provider. We will try to resolve this as soon as possible and provide an update as soon as it is available

[2019-11-11 14:44] rodrigoarias commented on #11
Having the same issue here, we are getting this:

[code]

[2019-11-11 15:24] theSoenke commented on #11
If this helps here is a direct link to the latest aar file: https://dl.bintray.com/phrase/Phrase/com/phrase/android/sdk/1.2.0/sdk-1.2.0.aar We are also in the process to get it properly published so that it can be fetched again by Gradle

[2019-11-12 13:16] theSoenke commented on #11
The problem has been addressed for now and fetching them via Jitpack should work again. Let me know in case you should still run into any issue.

We are also considering multiple ideas to make fetching the library absolutely reliable in the future. I will keep you updated as soon as we have decided on that

[2019-11-12 15:15] mozarty commented on #6
😔

[2019-11-13 08:37] marlonbosse commented on #11
Thanks @theSoenke 👍 I will close this issue if thats fine for you.

[2019-11-13 08:37] #11 closed

[2019-11-18 12:37] mozarty commented on #6
@theSoenke should we give up ?

[2019-11-18 12:51] docstun commented on #6
@mozarty sorry for the delay here. We have started working on a solution but we're not at 100% yet. We are targeting a release for this until the end of the year but I cannot give you a specific date at this point.

[2019-11-25 15:32] rsaunders100 opened #12 "Does phraseapp pull support annotations? (e.g. `<!--suppress ImpliedQuantity -->`)"
We want to add this annotation to a key to ignore it from our lint.yml

e.g.
[code]
If we add it manually `phraseapp pull` will overwrite it.  Is there a way to support annotations like this?

[2019-11-26 17:24] theSoenke commented on #12
Hi @rsaunders100, currently we don't support this as we don't store the annotation in Phrase. Could you contact us via the chat on phrase.com or at https://phrase.com/contact to discuss the use case and possible solutions?

[2019-12-04 09:45] hichamboushaba commented on #10
Hi @theSoenke, do you have any eta on this bug? we need to decide if we are going to implement OTA soon in our app or not.

[2019-12-16 13:16] theSoenke commented on #6
Version 2.0 has now been released which includes automatic conversion of iOS placeholders and CDATA support. The enclose in CDATA option can be enabled in the distribution settings on Phrase. To make sure that CDATA escaped translations are served to the app it is required to create a new release after the option has been enabled.

https://github.com/phrase/phrase-android/releases/tag/2.0.0

Let m

[2019-12-16 13:16] #6 closed

[2019-12-16 13:17] theSoenke commented on #12
I will close this issue for now as it is not directly related to the Android SDK. Please feel free to reach out to us via the above channels in case you have not yet

[2019-12-16 13:17] #12 closed

[2019-12-16 15:51] theSoenke commented on #10
Hi @hichamboushaba, I'm sorry for the delay. We've been busy to get the latest version 2.0 out. We will tackle this issue next. I can't promise an exact release date but I will try to make sure to get this fixed as fast as possible

[2019-12-16 17:20] hichamboushaba opened #14 "Line breaks with localized formatted strings appears as <br/>"
We are facing an issue with all formatted strings when using the OTA SDK, they appear as <br/> after updating the SDK to 2.0.0 (before they appeared as \n).

The workaround we are using now is passing the retuned string to Html.fromHtml(), but it's not a pretty solution!

[2019-12-19 08:55] theSoenke commented on #14
Hi @hichamboushaba, thanks for reporting it. We are currently looking into this. Could you provide me an example translation for it? That would be very helpful

[2019-12-19 09:52] hichamboushaba commented on #14
Hi @theSoenke, any string that has format arguments and line breaks would cause it, for example:
`"Hello\n%1$s"`

Thanks,

[2019-12-19 10:12] theSoenke commented on #14
Thanks for the example. We are currently working on a fix. One way that currently does work is to manually use `String.format` instead of passing format args to `getString`

[code]

[2019-12-19 13:40] theSoenke commented on #14
We will release a fix for this most likely tomorrow

[2019-12-19 13:42] hichamboushaba commented on #14
Thanks a lot for the quick update.

[2019-12-23 15:13] hichamboushaba commented on #14
I confirm that the issue is resolved using version 2.0.1.

[2019-12-23 15:13] #14 closed

[2019-12-30 12:01] hichamboushaba opened #15 "translationsChanged's of onSuccess callback always false"
Using version 2.0.1 of the library, we noticed that the variable `translationsChanged` of the callback's `onSuccess` method is always false.

the name of the variable hints that it should be true when we get a new translations.

And I would like to suggest also to improve the callback by including the version number of the downloaded translation, this would be helpful for us to track the usage of

[2020-01-02 09:34] theSoenke commented on #15
Thanks for reporting this. We are currently working on a fix which should be available soon

[2020-01-03 10:44] mozarty opened #16 "Fetched translations doesn't resolve the escaped characters"
@theSoenke Thanks for the 2.0.0 update, it seems like the HTML tags issue has been fixed

we are now experiencing a different issue with escaped strings

![image](https://user-images.githubusercontent.com/1047227/71719333-4d5c1b80-2e1e-11ea-9e7a-5aa726b21347.png)

[2020-01-06 09:37] theSoenke commented on #16
@mozarty Could you update to the latest release 2.0.1? This issue has been resolved there

[2020-01-06 11:27] mozarty commented on #16
Thanks, it works!

[2020-01-06 17:23] theSoenke commented on #8
@bjoernQ The newline issue should have been resolved with version 2.0.1. Let me know if you should still experience any unexpected behavior

[2020-01-08 16:27] mozarty commented on #16
@theSoenke the 2.0.1 fixed the issue, but the issue of converting placeholders from ios is back so now we can't use 2.0.1

we had to disable the integration again

[2020-01-09 09:38] theSoenke commented on #16
@mozarty I'm sorry for the inconvenience. This issue is not related to the SDK but the delivered translation files. This will be fixed very soon and keep you updated

[2020-01-10 13:09] theSoenke commented on #16
This has now been resolved. All releases going forward will convert the placeholders. To make sure the placeholders are converted you can create a new release

[2020-01-13 13:49] hichamboushaba commented on #15
@theSoenke can I know why this ticket is closed? on the releases page I don't see any new release.

[2020-01-13 13:51] theSoenke commented on #15
@hichamboushaba Github closed it automatically as it was referenced from an internal PR :) Sorry for the confusion. The release will most likely be published later today or tomorrow morning

[2020-01-13 13:52] hichamboushaba commented on #15
OK, thanks for the clarification 🙏

[2020-01-14 16:17] theSoenke commented on #15
Version 2.0.2 has now been released and `onSuccess` is now correctly returning true when translations have changed.

Regarding the version number could you maybe elaborate a little bit what exactly would you like to track here? We do already provide some statistics in the interface on Phrase and maybe we could improve the statistics there

[2020-01-14 18:15] hichamboushaba commented on #15
Our goal is to be able to track how many users are using the latest version of the translation, we would like to have an event sent to our backend when a user gets a new translation, et we want this event to have a meta including the version of the downloaded translation.

[2020-01-15 10:02] theSoenke commented on #15
Thanks for the feedback. I can't promise when we will add this to the SDK but I've added this to our internal OTA features request and will provide an update here when there is any news

[2020-01-17 12:58] theSoenke commented on #9
Version 2.1.0 was just released which now detects system locale changes and fetches the most recent translations for the new locale and picks up the system locale

[2020-01-17 12:58] #9 closed

[2020-01-20 13:25] #15 closed

[2020-01-20 13:26] #16 closed

[2020-02-24 09:29] hichamboushaba opened #17 "Version Range of the distribution not respected"
Hi, we are facing an issue with the integration, which has lead to some crashes in Production, we noticed that the Min Version field is not respected, and that distributions are available to older versions as well.
While investigating we noticed this:
1. having a release v25 available only to versions >= 4.31.0
![Screen Shot 2020-02-24 at 10 08 25 AM](https://user-images.githubusercontent.com/1657

[2020-02-24 09:45] theSoenke commented on #17
Hi @hichamboushaba, we are working on a server side fix right now. This should be resolved very soon. I'm sorry for the issues caused here. I will keep you in the loop as soon as the fix is live

[2020-02-24 10:04] theSoenke commented on #17
We've just rolled out the change for the min version check. This is backwards compatible to all existing SDK versions which will now always receive the correct release based on the version constraints.

Thank you for providing those detailed information and sorry for the inconvenience caused here

[2020-02-24 10:04] #17 closed

[2020-02-24 11:20] hichamboushaba commented on #17
That was fast, thanks for the reactivity 👍

[2020-04-09 10:24] theSoenke commented on #10
We did some further investigation into the issue and currently it is technically not feasible to support menus as inflating menu from XML cannot be really intercepted.

It is still possible to manually update the menu items though which will use the latest Over the Air translations. For example an options menu:
[code]

This is not an ideal solution and we are keeping an eye out whether there is a

[2020-06-18 16:51] hichamboushaba opened #18 "Double quotes added to some strings"
Hey, we noticed an issue with the SDK, some messages seems to be surrounded with double quotes on the app.
When investigating we found that all those messages have some trailing white spaces, when we pull those message through the cli, we noticed the double quotes, this doesn't cause any issue when we don't use the SDK, as Android ignores the quotes.
But when these messages gets pulled through OTA

[2020-06-19 07:20] theSoenke commented on #18
Hi @hichamboushaba, which version of the SDK are you using? This should have been fixed in 2.1.2. If that should not be the case could you send me an example translation where this is occurring?

[2020-06-19 08:54] hichamboushaba commented on #18
We were using version 2.1.0, I just updated to version 2.1.2, and it fixed the issue, thanks.

[2020-06-19 08:54] #18 closed

[2020-10-08 13:57] erdincozden opened #19 "Android OTA update problem"
Hello,
We integrated it into our Android app but Over the Air (OTA) doesn't work.  I debug your code, download xml file and write to cache successfully.  However, the layout on the screen are not updated.
How we can solve this problem ?

[2020-10-08 14:12] theSoenke commented on #19
Hi @erdincozden, could you contact us via https://phrase.com/contact or the embedded chat on Phrase? There we could have a closer look at this specific case with your Phrase account

[2020-10-12 19:01] #19 closed

[2020-10-12 19:01] erdincozden commented on #19
Solved by support team

[2020-10-28 18:05] erdincozden opened #20 "Android 2.1.3 Webview Resource not found - Crash"
Hello,
App crashes when clicked on “copy” option selected text in android webview on many devices. There was no such problem before 2.1.3 release.
Best,

[code]

[2020-10-29 09:04] theSoenke commented on #20
Hey @erdincozden, there appears to be a know issue in appcompat https://issuetracker.google.com/issues/141351441 We are currently looking for a solution to work with appcompat and webviews. This behavior with webviews is also reproducible for older versions of the SDK for me

[2020-11-13 08:58] Runman44 opened #21 "Phrase OTA - Not using BaseActivity but composition"
Is there a nice way to implement Phrase OTA - without creating a BaseActivity? We want to move away from a Base activity and therefor Inherintance but instead use composition?

I looked around but doing this for the `attachBaseContext` method isn't easy. Is there a way?

I'm talking about these instructions: https://help.phrase.com/help/android-sdk-installation-instructions

[2020-11-16 12:59] #21 closed

[2020-11-16 13:23] Runman44 opened #22 "Using multiple ContextWrapper with Phrase SDK doesn't work"
In my current App I'm already wrapping my `context` with a `ContextWrapper` when using `Phrase SDK` with its `Phrase.wrap()` it seems that it doesn't work.

If I use it as follows:

[code]

Then Phrase SDK is working and I'm getting the new Strings. But `LocaliseContextWrapper` isn't working anymore.

If I use it as follows:

[code]

Then I get the same result.

FYI, this is `LocaliseContextWrappe

[2020-11-16 15:59] Runman44 commented on #22
A solution for this problem would be to have a `setLocale(Locale locale)` in the `Phrase SDK`

[2020-11-23 15:35] #22 closed

[2020-12-14 09:18] Runman44 commented on #20
@theSoenke - I'm using version 2.1.3 of the Phrase SDK, which in the release notes states its using appcompat 1.2.0 - but this issue is still present.

[2020-12-16 10:19] theSoenke commented on #20
@Runman44 The release 2.1.3 added support for the latest appcompat 1.2.0. This issue with webviews is unfortunately still present in the latest release and not directly related to the appcompat fix

[2021-01-20 11:57] angelolloqui opened #23 "Access to dynamic strings"
Thanks to OTA we can also do some dynamic mappings from keys not previously present in the build but that comes afterwards. For example, to map server error codes into proper user messages is very handy.

In iOS, when we do something like `NSLocalizedString("my_server_error_key","") ` we can get the message from OTA, even if it was not previously included in the build but added later.

However, in

[2021-01-21 10:19] theSoenke commented on #23
Hi @angelolloqui, you are right that this is currently not possible in the Android SDK. My only concern would be that there is no guarantee anymore that there are translations when using dynamic strings. Compared to using ids from the strings resources file where we always have the fallback in case the SDK has not finished fetching the translations yet.

Does it happen on a regular basis that you

[2021-01-25 07:18] theSoenke commented on #20
@erdincozden Version 3.0.0 of this SDK should resolve the webview related issues https://github.com/phrase/phrase-android/releases/tag/3.0.0

@Runman44 Could you please try using 3.0.0 as well? This release should fix all `appcompat` compatibility issues.

[2021-01-25 07:18] theSoenke commented on #20
I would now close this issue. Let me know in case you still should see anything unexpected

[2021-01-25 07:18] #20 closed

[2021-01-25 10:31] theSoenke commented on #10
@hichamboushaba The latest version 3.0.0 now added support for inflated menus

[2021-01-29 15:06] Neristance opened #24 "Duplicate class a.a.a.a.a in Phrase SDK 3.0.0"
Hey there,

I'm reaching out to you because it turned out that the new SDK version 3.0.0 delivers internally some obfuscated classes which are not in the `com.phrase.android.sdk `package. While compiling with another SDK we use (IDNow) we get a duplicate class error.
I think for a public SDK that should not be done in this way, we will also report the same Issue to IDNow since it is not a very goo

[2021-02-03 15:29] #24 closed

[2021-02-03 16:01] theSoenke commented on #24
Hey @Neristance, thanks a lot for reporting this. We just released another version 3.0.1. It should now keep the package name and fix the compile error

[2021-02-05 22:14] mzsanford opened #25 "java.lang.ClassCastException: com.phrase.android.sdk.inject.PhraseContextWrapper cannot be cast to android.app.ContextImpl"
I'm testing Phrase integration and my app has a `BroadcastReceiver` registered in the manifest.xml like so:

[code]

And the class itself is a simple subclass of `BroadcastReceiver` implementing `onReceive`. If I comment this out of the manifest.xml everything works fine. When I have this enabled my app crashes soon after launch with:

[code]

Device: Google Pixel 5, Android 11

[2021-02-08 08:03] Neristance commented on #24
@theSoenke Many thanks it does work!

[2021-02-08 15:18] theSoenke commented on #25
Hi @mzsanford, the Android SDK is expecting an exact instance of `ContextImpl` in some places, which are causing this issue. For now, I would recommend removing `Phrase.wrapApplicationContext` from your `Application` class. We'll also likely release a new version soon which will remove this method.

[2021-02-08 20:36] erdincozden commented on #25
Some problem : Unable to instantiate receiver com.google.firebase.iid.FirebaseInstanceIdReceiver: java.lang.ClassCastException: com.phrase.android.sdk.inject.PhraseContextWrapper cannot be cast to android.app.ContextImpl

[2021-02-09 07:27] Krillsson opened #26 "PhraseContextWrapper does not cover application.getString()"
In some cases, we fetch strings using application context. But it even though we've overriden `attachBaseContext` method in our application It seems like it is not possible to reach your custom resources.

In #25 you mentioned that you will remove this path from the integration. And I see you have already removed it from your documentation.

Our team would appreciate it if you were able to find an

[2021-02-15 15:17] theSoenke commented on #25
Hey, thanks for your patience. We have now found a solution to be able to wrap the application context in an `Application` class. The fix is released in version 3.0.2. This should resolve the cast exception.

[2021-02-15 16:00] theSoenke commented on #26
Hey @Krillsson, we have released a fix the issue with `Phrase.wrapApplicationContext` with version 3.0.2.

And I completely agree that it would be good to have an easier solution to access the translations from anywhere. This is something we are currently considering to add.

[2021-02-17 08:16] Neristance opened #27 "Special characters missing through OTA"
Hey @theSoenke ,
While using the SDK version 3.x we saw that we miss some special characters for example the `&`.

We have several keys in Phrase that are for example look like this `Test & other test`. If we do receive those strings via OTA it gets broken with the new SDK and the retrieved string does not contain the `& `anymore.
I was tracing it in Charles Proxy and it seems that the Phrase serv

[2021-02-17 09:58] theSoenke commented on #27
Hey @Neristance, thanks for reporting it. We're looking into this behavior and I'll keep you updated here when I have any news.

[2021-02-17 15:12] DamienLevel commented on #27
Same issue here with "\" character (it's painful for unicode characters).

Thank you for a solution :)

[2021-02-18 15:13] Krillsson commented on #26
Can confirm, 3.0.2 fixed our problems. Thanks @theSoenke! 🙌

[2021-02-18 15:13] #26 closed

[2021-02-22 13:17] Kiruel commented on #27
Hi @Neristance just to know if you have any news about this bug ?
We are block on production because of this, so we will need to disable the SDKs for our next release.

[2021-02-22 13:22] Neristance commented on #27
@Kiruel We are also just users of the SDK :) We have been downgrading to the last major version of 2.x which works for us.

[2021-02-22 13:24] Kiruel commented on #27
Sorry tag the wrong guy :P ! @theSoenke ;) better.

[2021-03-08 13:11] theSoenke commented on #27
Hey, the issue should now be resolved in version 3.0.4 https://github.com/phrase/phrase-android/releases/tag/3.0.4

[2021-03-08 13:11] #27 closed

[2021-03-08 16:43] Krillsson opened #28 "ClassNotFoundException for android.view.Button with TimePickerDialog on Android 9 + 8"
We get weird exceptions when using Phrase SDK and `android.app.TimePickerDialog` widget.

Only reproduced it on Android 9 and 8 for now. 10 and above works as expected.

It seems to be caused by an older version of the ViewPump library. There is an identical issue in [this github project](https://github.com/B3nedikt/restring/issues/77).

Additionally, I wasn't able to test with 3.0.4 because somet

[2021-03-09 09:24] theSoenke commented on #28
Hey @Krillsson, which version are of the SDK are you currently using? Are you already using 3.0.3? And could you also send me the error you're seeing from Jitpack? Installing from Jitpack works for me right now.

[2021-03-12 07:29] theSoenke commented on #28
That's interesting where those build logs are coming from. Those look like quite old logs from another version. Right now the build has been successful https://jitpack.io/com/github/phrase/android-sdk/3.0.4/build.log

Could you give it one more try to install 3.0.4 now?

[2021-03-18 14:52] Krillsson commented on #28
Ah. I checked the wrong address jitpack project (https://jitpack.io/#phrase/phrase-android).

Managed to get 3.0.4 now.

[2021-03-18 14:53] Krillsson commented on #28
Still crashes on 3.0.4 though. Probably you are already aware of this.

[2021-03-19 14:08] theSoenke commented on #28
@Krillsson We just released version 3.0.5 of the SDK, which includes a fix for this issue.

[2021-03-19 14:08] #28 closed

[2021-04-21 06:24] Papashkin commented on #20
@theSoenke Hello!
I received one strange crash from the Firebase console:

[code]

I'm using Phrase 3.0.2, so the issue you mentioned above is not related to my case. It seems some other issue occurred here.
I checked all possible translations and tried to reproduce this error, but couldn't.

[2021-04-27 13:22] theSoenke commented on #20
Hey @Papashkin, we were unfortunately not able to reproduce this. Is there any chance that an invalid id is passed in into `getText`? There is also a possibility that this is related to an issue with webviews on certain Android devices/versions. Are you using webviews that might be related to this?

[2021-04-27 13:25] Papashkin commented on #20
Hei @theSoenke!
It seems that the problem has occurred on our side, so there is no error from the Phrase side.
Thanks for your time and have a nice day!

[2021-04-27 13:29] theSoenke commented on #20
Thanks a lot for the confirmation. Have a great day as well!

[2021-05-14 08:00] tuinui commented on #19
@erdincozden you know how to fix this?
right now I got the same issue when switching device language to indonesian

[2021-06-16 15:11] eriksquare opened #29 "Crash when using BottomNavigationView from latest material library"
I'm using the latest material components version (1.4.0-rc01) and when accessing a screen which hosts the BottomNavigationView component in my app i receive this crash:
[code]

I also see this issue on previous 1.3.0 version of the material library.
I'm on the latest version (3.0.5) of the phrase sdk, and can confirm that by removing it the issue is solved.

[2021-06-17 15:02] LethalMaus opened #30 "translationsChanged returns false when using Androids new view-binding"
Hi,

I made some changes to my app today and noticed that once I introduced androids new [view-binding](https://developer.android.com/topic/libraries/view-binding) that the translations are not changed. Reverting the project back to the original synthetic way returns true.
It would seem like the SDK doesn't support the new way of view binding and if so when will it be supported?

I'm using version

[2021-06-17 15:45] LethalMaus commented on #30
False alarm, sorry I eventually saw that the mistake was on my side

[2021-06-17 15:45] #30 closed

[2021-06-18 06:34] theSoenke commented on #29
Hi @eriksquare, we are currently investigating this case with a `BottomNavigationView` and I'll provide an update as soon as I have more information

[2021-06-18 11:58] theSoenke commented on #29
We investigated what is causing this issue and it turns out that `BottomNavigationView` is a subclass of `NavigationBarView` since `com.google.android.material:material:1.4.0-rc01`.

Are you already relying on the release candidate of the material library? If not I would suggest waiting for a stable 1.4.0 release and then shortly after we will add support for 1.4.0. If you already rely on the rele

[2021-06-18 12:32] eriksquare commented on #29
Yeah, no issue from me with that, since at the moment we are using this component only for internal development.

[2021-06-21 12:34] eriksquare opened #31 "Crash when doing a long press in the content of a webview"
Phrase version 3.0.5, AppCompat version 1.3.0.

Steps to reproduce:
- set `minifyEnabled true`
- open a webview and try to copy-paste something or just select some test
- app crashes when the contextual selection menu shows up

to workaround this i've found in my tests that we can:
- set `minifyEnable false`
- comment the `Phrase.getDelegate(this, super.getDelegate())` line in my code

Also, this

[2021-06-22 07:33] DarkMinstrel commented on #31
Hi Erik! Thanks for your report.
Could you please share the stack trace?

[2021-06-22 07:39] angelolloqui commented on #23
Sorry @theSoenke I totally missed your comment!

Not that much but in several places. The most common case we find are A/B test experiments, since we have a base string for the general public, but then from the remote config we can configure some other string to be used instead. Then code tries to fetch that string dynamically and default to the general one (in the binary) if none.

[2021-06-22 08:16] eriksquare commented on #31
[code]

this is a standard apk (form runconfiguration) with `minifyEnabled true` (so app bundles are not part of the problem)
By keeping the `minifyEnabled true` and commenting the delegate everything works.
When googling i've found a similar issue in another library (which i actually don't use) https://github.com/B3nedikt/restring/issues/42 maybe there is a common cause.

[2021-07-01 07:11] shantanu-csedu opened #32 "Feature Request: get string by locale without set app locale"
It will be helpful if Phrase add support to get string for multiple locale for the same time. Like the following code

`Phrase.getString(key, locale)`

In my case, there are background tasks to generate report (pdf) in multiple language. If I set `Phrase.setLocaleCode(locale)` before the task then user will see the UI in different language.

[2021-07-05 10:27] eriksquare commented on #29
material library 1.4.0 has been released as stable

[2021-07-06 08:20] DarkMinstrel commented on #31
Unfortunately, we couldn't reproduce the crash.
It would be very helpful if you provide a minimal example project that demonstrates the issue.

[2021-07-06 09:34] theSoenke commented on #29
@eriksquare Thanks for letting us know. This should be solved in version 3.0.6 of the SDK

[2021-07-06 09:34] #29 closed

[2021-07-27 08:32] angelolloqui commented on #31
We are suffereing the same issue. I believe it is not related to OTA but to the usage of ViewPump or some interceptors for wrapping the context. Some related issues:

https://github.com/InflationX/ViewPump/issues/60
https://github.com/InflationX/ViewPump/issues/64

[2021-08-12 07:26] way2jatin commented on #10
@theSoenke The issue related to support for inflated menus is still there. I m currently using version 3.0.6 and still facing the same issue. I have also tried the above code snippet to set the bottom navigation menu title programatically. But no luck whatsoever. Could you please have a look ?

[2021-08-24 10:03] angelolloqui commented on #23
Hi @theSoenke , any news about this? I am now using reflection to get access to the internals of phrase and its repository to get this, but it is fragile. Any plan to add it soon? thanks!

[2021-08-26 09:06] angelolloqui opened #33 "Html stripped when using OTA in 3.x versions"
We have several texts using html to be able to add bold and some other minor style changes into a styled text.

We were able to use them with no problems up until we upgraded phraseapp sdk from 2.1.3 to 3.0.5 (we are not using 3.0.6 due to some androidx incompatibility in the bottom navigation that we need to solve first). However, with the newer version, every time we try to get the string it ret

[2021-08-28 19:36] angelolloqui commented on #33
A little piece of extra info. It seems the bug is reproducible in 2.3.1 too, but maybe just in some devices. In particular I have managed to reproduce it in a Samsung Galaxy J7 with Android 8.1.0 and in an emulator with Android 11.

[2021-09-03 12:31] angelolloqui commented on #33
Hi @theSoenke can you help us out here? thanks!

[2021-09-03 12:35] theSoenke commented on #33
Hi @angelolloqui, I'm sorry for my delayed response. We're looking into this behavior now and I hope to provide an update early next week

[2021-09-13 08:52] angelolloqui commented on #33
Hello @theSoenke ... not sure if you have any news here... thanks!

[2021-09-15 13:35] DarkMinstrel commented on #33
Hi @angelolloqui !
There are no html tags because you're using the `getString()` method.
As per documentation, `getString()` strips all styling information and returns the naked string.
If you want to get styled `CharSequence`, try using `getText()` instead.

Alternatively, if you need to combine placeholders and styles in the same string, you should HTML-escape it, replace placeholders, and final

[2021-09-16 06:18] angelolloqui commented on #33
Hi @DarkMinstrel , thanks for answering but I probably did not explain myself correctly.

We do use `Html.fromHtml()` from the string to set it as HTML, that is not the problem.
The strings do not need to be escaped unless there is a conflict on the HTML itself with your xml, in which case you could use the CDATA tag, check the example you provided, how the example string looks like:

[code]

By t

[2021-09-16 06:22] angelolloqui commented on #33
By the way, I see you are quite busy, because you took 21 days to answer a "is your fault", probably not dedicating 5min to check your code first. Can you at least provide access to the source code so I could fork it, fix it and provide a PR? I can understand you have no resources to check this now but for us this is a very important bug that needs fix or we will stop using Phrase and look for an

[2021-09-16 10:16] DarkMinstrel commented on #33
In order to preserve CDATA when using Phrase, you need to enable this checkbox in your distribution settings:
![image](https://user-images.githubusercontent.com/12033349/133594627-32424756-a870-4a70-953b-9ea8a283e31f.png)

[2021-09-16 12:18] angelolloqui commented on #33
That sounds like it but I can not find that option. Where is that checkbox located? I have this when creating an new OTA release:

<img width="644" alt="Screenshot 2021-09-16 at 14 17 28" src="https://user-images.githubusercontent.com/1382659/133610775-313c6ddf-3bb6-439b-89d0-976444d6a1a0.png">

[2021-09-16 12:25] angelolloqui commented on #33
Got it, let me try that... 🤞

[2021-09-16 12:38] angelolloqui commented on #33
Awesome!! thanks @DarkMinstrel !! that seemed to work perfectly!! I am closing the issue and keep this change under test. If I see any other side effect from activating this checkbox I will let you know by reopening!

[2021-09-16 12:38] #33 closed

[2021-09-21 12:52] egze commented on #32
We have decided to close all GitHub issues and, instead, handle them through our Customer Support. We think this shift will allow us to offer proper prioritization of issues as well as a more appropriate response time that would be expected from Phrase products.

We apologize for any inconveniences this may cause. If you believe your issue is still relevant or has a high priority, please contact [

[2021-09-21 12:52] #32 closed

[2021-10-12 11:49] Alpexs opened #34 "Translations update always triggers onFailure callback"
Hello,

After updating Phrase OTA SDK from 2.x to 3.0.x we noticed an issue during translations update which always fails. Looking at stack trace in debugger I noticed an _XmlPullParserException_ , I don't know how to get more informations about that exception, I checked the translation files for maybe some weird characters and tried to remove it on a new OTA release, nothing changed

On 2.x versi

[2021-10-15 14:19] D-Fox opened #35 "OTA update strings should fallback to local string resources"
Phrase version: 3.0.6

Steps to reproduce:
- The application contains local string resources `A`, `B`, `C` and `D`
- OTA update contains string resources `A`, `B`, `C` but not `D`
- When `D` string resource is queried (using `context.getString`) empty string is returned

Expected behavior
- String resources that are not present in OTA update should return local string resource

[2021-10-15 15:07] LethalMaus commented on #35
I noticed this issue as well

[2021-11-17 17:00] prisyazhnuy opened #36 "Dark Mode Problem With MODE_NIGHT_FOLLOW_SYSTEM Selected"
There is an error on the library where if user want to use Dark Mode with flag MODE_NIGHT_FOLLOW_SYSTEM.

MODE_NIGHT_NO, MODE_NIGHT_YES or MODE_NIGHT_AUTO_BATTERY works fine and only problem occurs due to the selection of MODE_NIGHT_FOLLOW_SYSTEM.

Once system dark mode is changed, the application did not restarted with proper dark mode theme in MODE_NIGHT_FOLLOW_SYSTEM selected.

The problem caus

[2021-11-25 07:24] theSoenke commented on #34
Hey @Alpexs, could you contact us via https://phrase.com/contact or the embedded chat in Phrase? And please include the distribution id and environment. That would really help us to debug this. Thanks!

[2021-11-29 15:21] mr-coin-coin commented on #34
Thanks @Alpexs , I had the same issue with SDK v3.0.6, but not anymore after downgrading to 2.1.3 or either 3.0.0

[2021-12-09 10:07] theSoenke commented on #34
Could you check whether any of your keys in Phrase contains a description with `-->`? This can cause issues with the parser as it is incorrectly closing the comment: ` ipsum -->`. We're also looking into escaping these characters to address this

[2021-12-09 10:54] mr-coin-coin commented on #34
I don't think this is related as my solution couldn't have compiled.
But just in case, I have looked for it and it returned no result.
The only similar string that I have is a series of dashes  "------------------------------"

[2022-01-24 14:45] HappyDr0id commented on #10
I confirm the issue is still reproduced on both 3.0.6 and 3.1.2 SDK versions: the menu and preferences wordings are not updated by the OTA.
The manual update is working for the menu on my side, but not for preferences tho.

[2022-01-24 14:46] #23 closed

[2022-02-08 10:37] subspider commented on #36
should it be ?

[code]

[2022-02-08 10:40] JulienDev opened #37 "ANRs when getString() is called"
Hello,

The Google Play Store console is reporting us a lot ANRs (around one million each month) that seems to be due to Android Phrase SDK. I've already reported this to your technical support but never got any answer.
Each ANR happen when a broadcast is received or when a service is started by the app, so it's possible the issue is only there in background. The stacktrace of each report is alway

[2022-02-08 13:25] pagsantos opened #38 "Switching from Dark to Light mode crashes the app"
if we switch from Light To Dark mode we get our app to crash.

I think this is happening to all apps that implement this SDK
[code]
# Tested on:
Android 12
Happens on Real devices as well as Emulator
Version Phrase SDK used 'com.github.phrase:android-sdk:3.1.2'

[2022-02-09 09:40] theSoenke commented on #37
Hey @JulienDev, we're looking into this right now and I'll try to provide an update as soon as possible

[2022-04-21 15:24] cchaouachi opened #39 "OTA support multiple environment"
can OTA support multiple environment?

[2022-04-22 06:52] theSoenke commented on #39
Hey @cchaouachi, could you describe a bit what would be an environment for you? For example there is a preview and production environment for every release. In addition you could create as many distributions as you like and each could represent a different environment with another release cycle

[2022-04-22 12:03] cchaouachi commented on #39
Hey @theSoenke
Sorry , I mean project
In fact we are using multiple project in our app, with different phrase project.
is it possible to use OTA in this case with different project in the same application?

[2022-04-25 12:36] theSoenke commented on #39
Hey, thanks for clarifying. Unfortunaltey the SDK only supports one Phrase project at a time. Adding more projects would mean multiple requests and currently it's restricted to a single project per app

[2022-04-26 07:58] cchaouachi commented on #39
@theSoenke Thank you for quick your response !

[2022-04-26 09:37] #39 closed

[2022-05-03 11:40] tajchert opened #40 "Missing support for ComponentActivity"
In Compose-only apps there is no need for `AppCompatActivity` and it would be very good to support usage in `ComponentActivity` without need to add AppCompat dependency

[2022-05-03 14:24] theSoenke commented on #40
Hey @tajchert, that's a good point. Let me check whether there is a good solution to this already or if it would require some changes in the SDK

[2022-05-05 15:27] emiltsang86 opened #41 "Locale codes mismatch between Phrase OTA and Android"
**Locales in Phrase**    |    **Locales in Android, Locales found in requests**
en | en_HK
ja | ja_JP
ko | ko_KR
zh-Hans | zh_CN_#Hans
zh-Hant | zh_HK_#Hant

When I try to request the `translation xml` with the link containing the locale value `zh_HK_#Hant`,
`https://ota.phraseapp.com/DISTRIBUTION_ID/DEV_SECRET/zh_HK_#Hant/xml?`,
a 404 Not Found error is returned.

After checking with `Phrase supp

[2022-05-06 09:21] RogerParis commented on #38
@subspider I couldn't reproduce this on our test project. Is it a crash or an Application Not Responding problem? And if it is a crash, could you tell me the steps you follow to reproduce it? Do you see the crash when going back to the application or directly when selecting the dark mode?

[2022-05-06 12:18] theSoenke commented on #41
Hi @emiltsang86, thanks for your report. We have just published a new release 3.1.3, which will convert the Android locale codes into the Phrase locale codes https://github.com/phrase/phrase-android/releases/tag/3.1.3

When you have the option `Use language without region as fallback` for the distribution enabled it will also use `zh-Hans` as the fallback when for example requesting translations f

[2022-05-19 09:27] angelolloqui opened #42 "Min/Max version constraints behaviour"
Hi, I am running into something similar to [what I expressed in the iOS SDK some months ago](https://github.com/phrase/ios-sdk/issues/36) regarding the behavior of min/max version constraints. Basically, this:

Can you confirm if the Android SDK is behaving this way on purpose? could you make an update like the one in iOS to make the versioning more consistent? otherwise, could it be possible to a

[2022-05-19 11:36] angelolloqui commented on #42
For anyone interested on the same, I am for the time being executing this code just before doing the `Phrase.setup`:

[code]

What it does is to delete the previous cached data when there is an app version update, because the downloaded OTA for that new version might be no longer applicable.

[2022-05-20 06:16] emiltsang86 opened #43 "Compatibility with Android 6 and 7"
I am using Phrase OTA version `3.1.3`.

I have tried to launch the app in `Android Emulator` with `Android 6 & 7`.
I found the `TextView` keeps displaying the `old` translations,
**NOT** the translation updated with `OTA`.

Is the Phrase OTA 3.1.X compatible with `Android 6 & 7`?

[2022-05-20 11:19] theSoenke commented on #43
Hi, Android 6 and 7 should be supported and is also something we test at a minimum for Android 7. Could you maybe reach out to us via https://phrase.com/contact or the chat on Phrase to take a look at your specific project setup what might be the reason translations do not show up?

[2022-05-23 10:03] timpauls opened #44 "Phrase SDK does not respect locale code while update updateTranslations has not completed"
The Phrase SDK only returns strings from the default locale when `updateTranslations` has not completed, even though `setLocaleCode` has been called and local string resources for that locale exist.

Scenario:
The app contains English strings in `values` and German strings in `values-de`. The Phrase OTA distribution contains strings for both languages.
On app start, Parse is initialized, `setLocal

[2022-05-23 10:15] timpauls1991 commented on #35
I can confirm a similar issue exists:

Phrase SDK 3.1.3
App contains `en` and `de` strings. OTA distribution release contains only `en`. When settings the locale code in the app to `de-DE`, Phrase returns the default strings (`en`) instead of the bundled `de` strings as a fallback.

[2022-05-23 11:54] theSoenke commented on #42
Hey @angelolloqui, thanks for raising this for the Android SDK. Right now the SDK does not validate the version constraints once the translations have been downloaded. We have this also as an improvement in our backlog and I'll let you know when this has been solved in the SDK

[2022-05-23 12:35] theSoenke commented on #44
Hey @timpauls1991, thanks for reporting this. The reason for this is that `setLocaleCode` is currently only using the locale code internally but Android itself is still using the system language or the language configured by the app. Could you try changing the Android locale like this?
[code]

Then the correct bundled translations should be used while the translations have not been fetched yet.

[2022-05-24 08:01] angelolloqui commented on #37
Hi, we have the same issue in production. When we make use of the first `getString` it creates a ANR in some cases. I think it is waiting for the download to complete, but I wonder why not just returning the binary string while the request is ongoing instead of waiting? @theSoenke Do you have an estimated time for resolving this issue?

[2022-05-24 08:16] timpauls1991 commented on #44
Hi @theSoenke, thank you for your reply.
I was actually overriding the system language already. But while trying to come up with a minimal reproduction for this issue I figured out what went wrong:

`Phrase.setLocaleCode()` is very sensitive to the exact format of its parameter. Turns out, if I pass the locale as `"de_DE"` or just `"de"` and NOT as `"de-DE"` things work better. That's the differen

[2022-05-30 12:37] vlylozianSixt commented on #38
@RogerParis we integrate our app with the instructions provided here: https://help.phrase.com/help/android-sdk-installation-instructions.

The steps to reproduce:
- Run the app with integrated SDK
- Switch to dark mode or light mode from the swipe down menu
- The app freezes for a moment
- After a second or two the app crashes

The main cause I suspect is the getDelegate override method in our `Ba

[2022-06-07 09:43] eriksquare commented on #31
never used ViewPump, and you mean view interceptors? i guess only emoji compat could be something related...

[2022-06-07 09:56] timoEmberNjiuko commented on #20
@Papashkin Hey Papashkin, i know its been a while, but do you know how you fixed the issue? We having a similar problem :) Thanks in advance!

[2022-06-07 10:01] Papashkin commented on #20
@timoEmberNjiuko hello!
I will try. Maybe the following way helps you.
We checked all available source IDs in both our app and a Phrase site. We found that one ID is existing for the Thai or Vietnamese language, but not for the default (English). Which was the source of the crash and error.

[2022-06-07 10:08] RogerParis commented on #31
Is there any chance that an invalid id is passed in into getText? There is also a possibility that this is related to an issue with webviews on certain Android devices/versions. Are you using webviews that might be related to this?

[2022-06-07 10:36] RogerParis commented on #31
@eriksquare another client had a similar issue and this is what helped him track down the problem:

"Maybe the following way helps you.
We checked all available source IDs in both our app and a Phrase site. We found that one ID is existing for the Thai or Vietnamese language, but not for the default (English). Which was the source of the crash and error."

Maybe this feedback can help you.

[2022-06-07 12:29] timoEmberNjiuko commented on #37
@JulienDev Hi, this seems a bit late, but do you still have these ARNs or a more detailed Stack trace avaiblable? This would be huge help to find the cause :) Thanks in advance!

[2022-06-08 08:40] timoEmberNjiuko commented on #37
Hi @angelolloqui. Could you provide some more information here? :) Does it occurs only on the first getString? Do you got an full stack trace for us? :) Whats your case, when this occurs? Thanks in advance!

[2022-06-09 07:52] theSoenke commented on #44
Hey @timpauls1991, thanks for your feedback. The string passed into `setLocaleCode` should match a locale code that exists on Phrase. I'm surprised though using underscores vs dashes made a difference. To avoid this issue we replace underscores in the locale code with dashes in the backend so it should make no difference

[2022-06-09 08:05] angelolloqui commented on #37
Here it is some random ANR stack trace:

[code]

In line `DependencyProvider.kt:82` we have this:
[code]
What I see from the code is that this usage is happening before the call to `Phrase.updateTranslations()` is made. So in my app, the flow is:
1. `Application.onCreate()` -> `Phrase.setup`
2. `MainActivity.onCreate()` -> `activity.getString(R.string.app_name)`
3. `MainActivity.onCreate()` -> `Ph

[2022-06-09 09:11] timoEmberNjiuko commented on #37
@angelolloqui Huge thanks for the help. I will have a look into it 👍

[2022-06-09 10:29] RogerParis commented on #37
@angelolloqui does it make any difference if you put the `Phrase.updateTranslations()` code in your `Application.onCreate()`? as stated in the documentation here: https://help.phrase.com/help/android-sdk-installation-instructions

[2022-06-09 10:37] RogerParis commented on #37
Also you could try, if you didn't, to add the documentation step:

`public class BaseActivity extends AppCompatActivity {
  @NonNull
  @Override
  public AppCompatDelegate getDelegate() {
    return Phrase.getDelegate(this, super.getDelegate());
  }
}`

So then in the activity you can call `applicationContext.getString(R.string.app_name)` instead of using the activity

[2022-06-09 10:38] RogerParis commented on #37
Maybe that prevents some leaking that could end up in an ANR

[2022-06-16 08:31] RogerParis commented on #37
@angelolloqui is there a possibility that you provide us an example project that we can run and check the error?

Or would you be willing to try to reproduce the error in an example project that we provide?

Thank you very much for your help!

[2022-06-16 09:17] angelolloqui commented on #37
Hi @RogerParis I am afraid I can not do that because the project is too big and close source, and at same time, even if I would you would struggle reproducing because it only happens in a small subset of sessions.

[2022-06-16 09:26] RogerParis commented on #37
I see, I understand. Then I guess it makes sense that it is also hard for us to reproduce when we play around with a small simple project.

Let us know if adapting the code improves the behaviour and thanks for your feedback.

[2022-06-29 09:16] D-Fox opened #46 "CLI - Ability to specify `tools:locale`"
In order to make Lint checks work properly for default (without language folder suffix) resource xml, `tools:locale` must be defined in resources xml tag:

`<resources xmlns:tools="http://schemas.android.com/tools" tools:locale="cs">`

It would be nice to be able to specify this this through `.phrase.yml` or CLI argument.

[2022-07-28 09:00] emiltsang86 commented on #41
Hi @theSoenke ,
I have found `another case` of Locale codes mismatch between Phrase OTA and Android.
Due to the mismatch,
the translation file cannot be fetched in `Android 6`,
and translation remains as default language `English`.

In `Android 6`, the locale code presentation is different from `Android 7`,
which does NOT contain `_Hant` for Chinese Traditional,
`_Hans` for Chinese Simplified.

**

[2022-08-03 14:30] theSoenke commented on #41
Hey @emiltsang86, I think this case is a bit more tricky to handle because `zh_TW` and `zh_CN` are valid locale codes. So I don't think we can automatically convert them. What I would suggest instead to create the locales `zh_TW` and `zh_CN` in Phrase. And instead of translating them I would suggest to set a fallback locale to e.g. `zh-Hans` in the locale settings:
![Screenshot from 2022-08-03 16-

[2022-08-11 11:57] RogerParis commented on #41
@emiltsang86 it would be interesting to know if this can work for you.

[2022-09-26 08:54] Jasminelau07 opened #47 "[Android] Some strings still stay its old language after calling Phrase.setLocaleCode(localeCode)"
Phrase version 3.0.6
Using Kotlin and RIBs to build the app
After changing language using Phrase.setLocaleCode(localeCode) and Phrase.updateTranslations(), some string didn't update their language into the new one.
For those un-updated strings were declared by the xml `andreoid:text` attribution but it can be updated once set the text programmatically.
Can anyone help?
Thank you very much.

[2022-09-30 13:23] DamienDelaire-Lydia commented on #37
Hello we are also having this issue.

[2022-11-10 15:01] theSoenke commented on #37
Hi, after further investigation we have improved on the fix in 3.1.5 which should now solve all cases that could result in some rare circumstances in an ANR issue. The [release](https://github.com/phrase/phrase-android/releases/tag/3.2.0-rc1) also improves the performance during initialization.

[2022-11-15 15:17] theSoenke commented on #47
Hi @Jasminelau07, after changing the locale code is the activity being refreshed to make sure translations from the new locale are displayed? Also as a note  `Phrase.updateTranslations()` is updating the translation in a background thread. To react to a completed translation update you could provide a callback and refresh the screen right after
[code]

[2022-11-29 09:35] antygravity opened #49 "Add support to Android 13 (API 33) in-app language change"
We use Phase in our project.
Currently we are implementing in-app language change (https://developer.android.com/guide/topics/resources/app-languages) which is officially supported in Appcompat  1.6.0-rc01 or  1.7.0-alpha01.
This works fine with sdk < 33, but on Tiramisu AppCompatDelegate.getApplicationLocales() doesn't return locale code.
To fix it I added a workaround:
`   override fun getDelega

[2022-11-30 03:25] ignindra opened #50 "XmlPullParserException gets Logged by Phrase OTA"
Hi, I get this exception when I tried to use Phrase OTA in my new basic Android project using our existing distribution id & environment.
The sample app that I tried is basically a carbon copy of sdk sample usage [in here](https://github.com/phrase/android-sdk-example).

This is the only message/error that appeared on logcat.
[code]

The detail on translated text that I'm using is:
- translation k